sudo: false

language: python
python:
  - "3.9"

cache:
  directories:
    - "~/.platformio"

install:
  - pip install -U platformio
  - platformio update

script:
  - platformio ci --lib="./src" -c platformio.ini ./examples/simple/

notifications:
  email:
    on_success: never
    on_failure: always
